/* :root {
  --main-light-color: #ffffff;
  --accent-color: #4985ff;
  --main-dark-color: #323232;
  --secondary-dark-color: #000000;
  --text-color: #999999;
  --main-font: "Montserrat", sans-serif;
  --checkbox-width: 50px;
}

body {
  font-family: var(--main-font);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
} */

/* .container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
} */

/* header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
} */

/* header::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: #a1a1a1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-light-color);
} */

/* .nav-link {

  animation: bounce; 
  animation-duration: 2s;
  
} */

/* .nav-link:hover {
  color: red;
} */

/* .nav-link:nth-child(1) {
  animation-delay: var(--animate-delay);
}

.nav-link:nth-child(2) {
  animation-delay: 1s;
}

.nav-link:nth-child(3) {
  animation-delay: 1.5s;
}

.nav-link:nth-child(4) {
  animation-delay: 2s;
}

.nav-link:nth-child(5) {
  animation-delay: 2.5s;
} */

/* .nav-link-accent::after {
  display: block;
  content: "";
  width: calc(100% + 40px);
  height: 2px;
  background-color: #fff;
  transform: translateY(40px);
  transform: translateX(-20px);
  transform: translate(-20px, 39px);
} */

/* .hero {
  padding-top: 319px;
  padding-bottom: 335px;
  background-color: #212121;
  
  text-align: center;

  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.hero-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-light-color);
}

.hero-descr {
  width: 829px;
  margin: 0 auto;
  margin-bottom: 42px;

  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: var(--main-light-color);
} */

/* .btn {
  display: inline-block;
  width: 200px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 36px;
  padding-right: 36px;
  text-align: center;

  background-color: var(--accent-color);
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-light-color);
} */

/* .create {
  padding-top: 110px;
  padding-bottom: 105px;
  text-align: center;
}

.create-title {
  width: 739px;
  margin: 0 auto;
  margin-bottom: 42px;

  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: var(--main-dark-color);
}

.create-descr {
  width: 730px;
  margin: 0 auto;
  margin-bottom: 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color);
}

.create-list {
  display: flex;
  margin-bottom: 55px;
  text-align: left;
}

.create-item {
  display: flex;
  /* align-items: baseline; */
/* } */

/* .create-item:not(:last-child) {
  margin-right: 30px;
}

.out {
  width: 110px;
  height: 110px;
  margin-right: 16px;
  border: 1px solid var(--text-color);
}

.in {
  width: 90px;
  height: 90px;
  border: 1px solid var(--accent-color);
}

.out,
.in {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.create-group {
  width: 222px;
  padding-top: 44px;
}

.create-item h3 {
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-dark-color);
}

.create-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color);
} */

/* .standarts-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: var(--main-dark-color);
}  */

/* .standarts-descr {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color);
}

.standarts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  text-decoration: underline;
}

.standarts-item p:first-child {
  font-size: 36px;
  line-height: 53px;
  color: var(--secondary-dark-color);
}

.standarts-item p:last-child {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color);
} */

.services-section {
  /* position: relative; */
  padding-top: 100px;

  background-image: url(../images/bg/1531483091_1.jpg),
    url(../images/bg/1560329641_2.jpg),
    url(../images/bg/50569ac974c29121ff9075e45a334942.jpg),
    /* url(), */ url(../images/bg/1556708032_1.jpg);
  background-repeat: no-repeat;
  background-position: 0 100px, 100% 100px, right bottom, center;
  background-size: auto, auto 400px, auto 400px, cover;
}

/* .services-section img {
  position: absolute;
  z-index: 1;
} */

/* .image-bg {
  position: absolute;
  z-index: 2;
  width: 600px;
  height: 600px;
  background-image: url(../images/bg/1531483091_1.jpg);
  background-repeat: repeat-y;
} */

.projects {
  padding: 150px;
  background-color: teal;
}

/* styles for checkbox */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* .check-icon {
  position: relative;
  display: block;
  width: var(--checkbox-width);
  height: 20px;
  border: 3px solid grey;
  border-radius: 10px;
  background-color: #fff;
  transition: border 300ms linear;
}

.check-icon::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 50%;
  transition: transform 300ms linear;
}

.check-input:checked + .check-icon {
  border: 3px solid red;
}

.check-input:checked + .check-icon::before {
  background-color: red;
  transform: translate(calc(var(--checkbox-width) - 16px - 2 * 2px), -50%);
} */
